<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="triangle" class="org.vigilantex.demo.Triangle">

        <constructor-arg value="abc" index="0"/>
        <constructor-arg value="20" index="1"/>
    </bean>
</beans>